:root {
    /* общий фон */
    --body-color: #161616;
    /* цвет заголовков */
    --title-color: #ffffff;
    /* цвет подзаголовков */
    --subtitle-color: #b4bbc5;

    /* --bg-hover: rgba(255, 255, 255, 0.12); */

    /* размеры шрифтов */
    --font-s: 1.4rem 400 "Segoe UI", sans-serif;
    --font-md: 1.6rem 400 "Segoe UI", sans-serif;
    --font-lg: 2rem 400 "Segoe UI", sans-serif;
    --font-xl: 2.4rem 400 "Segoe UI", sans-serif;

    /* переменные для размеров (padding, margin) */
    --base-size-s: 1.4rem;
    --base-size-md: 1.6rem;
    --base-size-lg: 1.8rem;
}

/* logo */
.header-logo svg {
    --logo-fill: #c6c6c6;
}

/* links */
a {
    --link-color-default: #c6c6c6;
    --link-border-default: 2px solid #393939;

    /* состояние hover */
    --link-title-hover: #f4f4f4;
    --link-border-hover: #6f6f6f;

    /* состояние focus */
    --link-border-focus: 2px solid #ffffff;
}

/* buttons */
button {
    /* цвет фона primary в состоянии покоя */
    --button-primary-bgc: #0f62fe;
    /* цвет фона primary при наведении */
    --button-primary-bgc-hover: #0353e9;
}

/* кнопка без текста с иконкой внутри */
[data-btn-icon="btn-icon"]:hover {
    background-color: #393939;
    color: #ffffff;
}

[data-btn-icon="btn-icon"] img,
[data-btn-icon="btn-icon"] svg {
    --icon-fill: #ffffff;
    color: var(--icon-fill);
}

/* btn-primary */
.btn-primary {
    background-color: var(--button-primary-bgc);
}

.btn-primary:hover {
    background-color: var(--button-primary-bgc-hover);
}

.btn-primary:focus {
    outline: 1px solid var(--button-primary-bgc);
    background-color: var(--button-primary-bgc);
    box-shadow: 0 0 0 1px #ffffff inset;
}

/* forms */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
    --input-bg-color: #262626;
    --input-border-default: 1px solid #6f6f6f;
    --input-text-color: #f4f4f4;
    --input-placeholder-color: #6f6f6f;
}

label {
    --input-label-color: #c6c6c6;
}

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover {
    --input-outline: 2px solid #ffffff;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    --input-outline: 2px solid #ffffff;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
textarea:disabled {
    --input-bg-color-disabled: #262626;
}

input[type="text"]:focus:invalid,
input[type="tel"]:focus:invalid,
input[type="password"]:focus:invalid,
input[type="email"]:focus:invalid {
    --input-bg-color-invalid: #6f6f6f;
    --input-border-color-invalid: #c13515;
}

/* текст с ошибкой */
.input-error {
    --text-color: #ff8389;
}

/* модалка */
dialog {
    --modal-bgc: #262626; /* цвет фона */
}

dialog::backdrop {
    --modal-overlay: rgba(0, 0, 0, 0.65); /* оверлей */
}

